header {
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin: 15px auto;
  text-align: center;
}

img {
  display: block;
  margin: 0px auto;
}

#biography-div {
  margin: 0px auto;
  padding: 10px 0px;
  background-color: #eeeeee;
}

#tribute-title-div {
  text-align: center;
}

#tribute-info,
#quote,
#quote-author {
  max-width: 500px;
  margin: 10px auto;
}

li {
  width: 100%;
  display: flex;
  justify-content: start;
}

.year {
  font-weight: bold;
}

#quote-div {
  font-style: italic;
  margin: 10px auto;
}

#wiki-div {
  margin: 50px auto;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

footer {
  height: 20px;
}
