body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url();
  background-color:#0a0a23;
  font-size: 16px;
  color:rgb(255,255,255)
}

h1, p {
  margin: 1em auto;
  text-align:center;
  }

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin:10px auto;
  border:1px solid;
  border-radius: 5px;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.05);
  }

input, select, textarea {
  width: 100%;
    margin-top: 10px;
    background-color:hsla(0, 0%, 100%, 1);
  }

input, select, textarea, submit {
  border: 1px solid #0a0a23;
  border-radius:5px;
}

label {
  display: block;
  margin-top: 10px;
}

.inline {
  width:unset;
  }

  input[type="submit"] {
    font-size:1.1em;
    background-color:#3b3b4f;
    border-color: white;
    color:rgb(255,255,255);
  }
